/*Inside 600px - 500px*/
@media (max-width: 600px) and (min-width: 500px) {
 
} 

/*Inside 600px - 500px*/
@media (max-width: 499px) and (min-width: 300px) {
.css-18iht61 {
    padding-left: 16px !important;
 }
 .css-1kfn0wj{
    flex-direction: column;
 }
 .css-1hv857h{
    width: 375px !important;
    justify-content: center !important;
   
 }
 .css-1udb680 {
    border-radius: 8px;
    padding: 15px 10px !important;
}
.css-1kfn0wj {
    
    gap: 5px !important;
   
}
.css-1av2jjk-MuiTypography-root{
    font-size: 18px !important;
}
.css-qcucd9-MuiTypography-root{
    font-size: 18px !important;
}
.css-1f52zvs {
    padding: 16px;
}
 
 
} 