.view-all-projects-btn {
  width: fit-content !important;
  padding: 12px 32px !important;
  font-size: 14px !important;
  line-height: 1.25rem !important;
  z-index: 1;
}

@media (max-width: 599px) and (min-width: 500px) {
  .view-all-projects-btn {
    width: 35% !important;
  }
}
